@import url(../../index.css);

.divHomeBaners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 100%;
        scale: .8;
    }
}

.divHomeDestaquesContentItem {
    text-align: centerd;
    max-height: auto;
    max-width: 100%;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: var(--cor-secundaria);
    }
}

.divHomeDestaquesContent {
    max-height: 100%;
    gap: 1rem;

    @media (min-width: 450px) {

    }

    @media (min-width: 451px) and (max-width: 1027px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1028px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

#imgCypher {
    height: 300px;
}

.divHomeExplore {
    max-height: 100%;
    max-width: 100%;
    gap: 1rem;
    text-align: center;
    color: var(--cor-secundaria);
    
    @media (min-width: 1028px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    textarea {
        font: var(--fonte-primaria);
        padding: .3rem;
        width: 80%;
        height: 400px;
        max-width: 100%;
        resize: none;
        background-color: var(--background-primario);
        border: 1px solid var(--cor-terciaria);
        color: var(--cor-secundaria);
        border-radius: .4rem;
    }
}

.divHomeEventosOne {
    color: var(--cor-secundaria);
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        @media (min-width: 450px) {
            width: 50%;
        }
        @media (min-width: 1028px) {
            width: 30%;
        }
    }
}

.buttonHomeEventoAction {
    font-size: 1.5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: .2rem;
    padding: .6rem;
    margin: .3rem;
}