@import url(../../index.css);

.divHomeBaners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 100%;
        scale: .8;
    }
}

.divHomeDestaquesContentItem {
    text-align: centerd;
    max-height: auto;
    max-width: 100%;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: var(--cor-secundaria);
    }
}

.divHomeDestaquesContent {
    max-height: 100%;
    gap: 1rem;

    @media (min-width: 450px) {

    }

    @media (min-width: 451px) and (max-width: 1027px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1028px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

#imgCypher {
    height: 300px;
}