.divFeed {
    text-align: center;
    overflow-x: hidden;
}

.divFeedPost {
    display: inline-block;
    border: 1px solid var(--cor-primaria);
    border-radius: .3rem;
    padding: .3rem;
    margin: 2rem;
    height: auto;
    width: 50%;

    @media (max-width: 950px) {
        width: 80%;
    }
}

.divFeedMain {
    color: var(--cor-secundaria);
    p {
        max-width: 100%;
    }
}

.divFeedPostHeader {
    color: var(--cor-quadraria);
    background-color: var(--cor-primaria);

    max-width: 100%;

    padding: 1rem;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    @media (min-width: 568px) {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
    }
}

.divFeedPostContent {
    max-width: 100%;
    color: var(--cor-secundaria);
}

.divFeedPostFooter {
    max-width: 100%;
    img {
        width: 50px;
        height: 50px;
    }
}

.divFeedPostFooterBottom {
    input[type="text"] {
        @media (max-width: 800px) {
            width: 95%;
        }
        @media (min-width: 800px) {
            width: 80%;
        }
    }
}