@import url(../../index.css);

footer {
    padding: 1rem;
    
    color: var(--cor-secundaria);

    font: var(--fonte-primaria);
    text-align: center;

    a {
        color: var(--cor-terciaria);
        font-weight: bold;
    }
}