@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
  color: var(--cor-primaria);
  background-color: var(--background-primario);
  font-family: var(--fonte-primaria);
}

* {
  /* CORES */
  --cor-primaria: #CC6CE7;
  --cor-secundaria: white;
  --cor-terciaria: gray;
  --cor-quadraria: black;

  /* BACKGROUNDS */
  --background-primario: black;
  --background-secundario: gray;

  /* FONTES */
  --fonte-primaria: "SUSE", sans-serif;

  overflow-x: hidden;
}

button {
  font: var(--fonte-primaria);
  color: var(--cor-secundaria);
  background-color: var(--background-primario);

  padding: .3rem;
  margin: .3rem;
  border: 1px solid var(--cor-terciaria);
  border-radius: .2rem;
}

button:active {
  background-color: var(--cor-terciaria);
  color: var(--background-primario);
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  color: var(--cor-terciaria);
  text-decoration: none;
}

input[type="text"] {
  font: var(--fonte-primaria);
  color: var(--cor-secundaria);
  background-color: var(--background-primario);

  padding: .3rem;
  border: 1px solid var(--cor-terciaria);
  border-radius: .2rem;
}