@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
  color: var(--cor-primaria);
  background-color: var(--background-primario);
  font-family: var(--fonte-primaria);
}

* {
  /* CORES */
  --cor-primaria: #CC6CE7;
  --cor-secundaria: white;
  --cor-terciaria: gray;

  /* BACKGROUNDS */
  --background-primario: black;

  /* FONTES */
  --fonte-primaria: "SUSE", sans-serif;
}